#cart-overlay-container .blocker {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.363);
}

.cart-container {
  z-index: 2;
  height: 100%;
  min-width: 450px;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  background-color: #fff;
  overflow-y: auto;
  /* opacity: 0; */
  /* transition: transform .3s cubic-bezier(0, .52, 0, 1); */
}


.cart-container.hide {
  /* opacity: 0; */
}

.cart-container.show {
  /* transform: translate3d(-0, 0, 0); */
  /* opacity: 1; */
}

.cart-container.enter {
  /* opacity: 0; */
  transform: translate3d(40vw, 0, 0);
}

.cart-container.enter-active {
  /* opacity: 1; */
  transform: translate3d(-0, 0, 0);
  /* transition: opacity 300ms ease-in; */
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.cart-container.exit-done {
  /* opacity: 1; */
  transform: translate3d(-0, 0, 0);
} 
.cart-container.exit-active {
  transform: translate3d(40vw, 0, 0);
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.cart-container .header {
  display: flex;
}

.cart-container .header-text {
  flex: 2;
  padding: 10px 20px;
}

.cart-container .exit {
  flex: 1;
  padding: 10px 20px;
}

.cart-list {
  padding: 1rem;
}

.checkout-button {
  top: 0;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .cart-container {
    min-width: 100%;
  }

  .cart-container.hide {
    transform: translate3d(100vw, 0, 0)
  }
}