#content {
  padding: 2rem;
}
.header {
  width: 100%;
  text-align: center;
}
.banner {
  width: 100%;
  height: auto;
  flex-basis: auto;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.blocker {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}