#productContainer {
  max-width: 250px;
  box-shadow: 5px 10px 10px #e6e6e6;
  padding: 1rem;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

.img {
  height: 200px;
  transition: .2s ease-in-out;
}

.img:hover {
  opacity: 80%;
  cursor: pointer;
}

.product-image {
  height: 100%;
  width: 100%;
}
.product-text {
  text-align: center;
  box-sizing: border-box;
}

.category-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #929292;
  padding: 10px;
  margin: 5px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 5px;
}

.item-link {
  text-decoration: none;
  color: inherit;
}

.item-link:hover{ 
 cursor: pointer;
 color: #7a7a7a;
}

.button {
  height: 35px;
  text-align: center;
  width: 100%;
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.add-cart {
  background-color: #161616;
  color: #fff;
  transition: background-color .15s ease-in;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}

@media only screen and (max-width: 768px) {
  #productContainer {
    flex: 0.5;
    max-width: 250px;
  }
}
