.product-details-container {
  display: flex;
  flex-wrap: wrap;
}

.product-details-container .image {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  /* width: 500px; */
}

.product-details-container .details-view {
  flex: 1;
  padding: 1rem; 
  margin: 1rem;
}

.product-details-container h1 {
  font-size: 2rem;
  font-weight: 700;
}

.product-details-container .price {
  color: #6e6e6e;
  font-size: 1.5rem;
}

.product-details-container button {
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  border-radius: 0px;
  transition: background-color .1s ease-in;
}

.product-details-container button:hover {
  cursor: pointer;
}

.counter {
  display: flex;
}

.add-to-bag {
  width: 200px;
  height: 50px;
  border: none;
  margin: 10px 0px 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.add-to-bag:hover {
  color: #fff;
  background-color: #000;
}

.description {
  margin: 20px 0px;
  max-width: 375px;
}

.select {
  margin-bottom: 20px;
}